# Overriding IDE configuration, need EditorConfig plugin : http://editorconfig.org/#download

# project root path file
root = true

# Unix-style file
[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 4
trim_trailing_whitespace = true
insert_final_newline = true
