
######## Magento

## Developer Toolbars :
/app/code/community/Sheep/Debug/
/app/design/adminhtml/default/default/layout/sheep_debug.xml
/app/design/adminhtml/default/default/template/sheep_debug/
/app/design/frontend/base/default/layout/sheep_debug.xml
/app/design/frontend/base/default/template/sheep_debug/
/app/etc/modules/Sheep_Debug.xml
/skin/adminhtml/default/default/sheep_debug/
/skin/frontend/base/default/sheep_debug/
/app/design/frontend/ponant/default/layout/sheep_debug.xml
/app/design/frontend/ponant/default/template/sheep_debug/
/skin/adminhtml/default/enterprise/sheep_debug/
/skin/frontend/ponant/default/sheep_debug/
/Debug_README.md
/dev/firephp/
*developertoolbar*
*DeveloperToolbar*
firegento.php

## Config
/index.php
/app/etc/local.xml
/contents/wp-config.php

## Media

/media/catalog/category/
/media/catalog/documents/
/media/catalog/product/
/media/category/
/media/downloadable/
/media/import/
/media/xmlconnect/
/media/cache/
/media/banner
/var/





## temporary patches files :
maintenance.flag
*.orig
*.original
*.ORIGINAL
/PATCH_*.sh


######## Smart PHP rules from t.bondois.info/gitignore 

#### Version Control
/.svn/
/.gitattributes
## Uncomment next line in case you must NOT version this .gitignore file :
#/.gitignore

#### Cache files
*.cache
cache/*
Cache/*

#### Log files
*.log
logs/*

#### Temp files
*.tmp
tmp/*
temp/*
*.swp
~*
*~
._*

#### Dev files
*.bk
*.old
## Hint : prefix your work files/folders by "gign" (stands for Git IGNore)
gign*
phpinfo.php
php_info.php
test_mail.php
/sandbox/*

#### Popular PHP libraties
## Composer
vendor/
/composer.phar
/composer
#/composer.lock
## vlucas/phpdotenv
/.env
## firePHP
firephp/*
## PHPUnit
/.phpunit/*
#phpunit.xml
## rocketeers/rocketeer Task runner and deployment package
.rocketeer

#### These files in the projet root path should be ignored IN MOST OF CASE :
/*.7z
/*.bz2
/*.gz
/*.jar
/*.rar
/*.tar
/*.tgz
/*.zip
/*.sql
/*.csv
/*.dmg
/.*iso

#### Information/Legal Files
/CHANGELOG*
/UPGRADE*
/LICENSE*
/LICENCE*

#### IDE files
## JetBrains IDEs
/.idea*
*.ipr
*.iws
*.iml
## NetBeans
/nbproject/
## Eclipse, ZendStudio
/.buildpath
/.cache
/.metadata
/.project
/.settings
## Others
/atlassian*
/sitemap
*.scc
.externalToolBuilders
.vimrc
local.properties
#/.editorconfig

#### Generated by OS
## Windows cache
desktop.ini
Thumbs.db
## Windows shortcuts
*.lnk
## Windows Bin used on file shares
$RECYCLE.BIN/
## MacOS
.DS_Store
__MACOSX/
.AppleDouble
.LSOverride

#### Exceptions
##  Hint : create a blank .gitkeep file to version empty folders
!.gitkeep
## to version all htaccess :
!.htaccess

